OS_NAME=osrm

SYSTEM_HEADER_PROJECTS=libc kernel
PROJECTS=libc kernel
 
HOST=i686-elf
HOSTARCH= i386
 
AR=$(HOST)-ar
AS=$(HOST)-as
CC=$(HOST)-gcc
 
CFLAGS=-O2 -g # C flags
CPPFLAGS=     # C preprocessor flags
 
# Configure the cross-compiler to use the desired system root.
SYSROOT=$(ROOT)/sysroot
CC:=$(CC) --sysroot=$(SYSROOT)

# Sysroot
DESTDIR=$(SYSROOT)
BOOTDIR=/boot
LIBDIR=/usr/lib
INCLUDEDIR=/usr/include
 
# Work around that the -elf gcc targets doesn't have a system include directory
# because it was configured with --without-headers rather than --with-sysroot.
ifeq ($(HOST), i686-elf)
CC:=$(CC) -isystem=$(INCLUDEDIR)
endif

